.stats-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.both-charts-container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 25px;
    left: 150px;
}

.stats-charts-container {
    width: 50%;
    height: 50%;
}

.stats-pie-container {
    position: relative;
    left: 100px;
    top: 15px;
}