body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cbf1e7;
}

.btn-primary {
  background-color: #a86adb;
  border: 0;
}

.btn-primary:hover {
  background-color: #caa3e9;
  border: 0;
}

.btn-primary:focus {
  background-color: #9f5bd6;
}
